.dignity {
	padding: 2.5rem 0;
	@media (min-width: $md2) {
		padding: 5rem 0;
	}
	&Container {
	}

	&List {
		display: grid;
		gap: rem(20);
		@media (min-width: $md4) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&Item {
		position: relative;
		display: flex;
		flex-direction: column;
		box-shadow: 0 rem(4) rem(60) 0 rgba(0, 0, 0, 0.04);
		border-radius: 0.5rem;
		padding: 1rem;
		&:nth-child(1) {
			color: #fff;
			background: linear-gradient(113deg, #f147aa -11.07%, #826fff 56.46%, #87dbff 120.57%);
			border: 0;
			@media (min-width: $md1) {
				padding-bottom: rem(70);
			}
		}
		&:nth-child(2),
		&:nth-child(4) {
			background: url("/src/assets/images/dignity-card-bg.png") 0 0 / cover no-repeat, $white;
			.dignityTitle {
				background-image: linear-gradient(90deg, #ffb14f -6.64%, #f748a6 47.23%, #772dfa 105.97%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
			&::before {
				content: "";
				position: absolute;
				inset: rem(-1);
				background: #fff;
				background: linear-gradient(45deg, #f147aa, #826fff 51%, #87dbff 100%);
				z-index: -1;
				border-radius: rem(9);
				@media (min-width: $md2) {
					border-radius: rem(31);
				}
			}
		}
		&:nth-child(3) {
			color: #fff;
			background: url("/src/assets/images/planet.png") 0 bottom / 100% auto no-repeat, linear-gradient(151deg, #fea35c -5.22%, #f9559c 55.31%, #8731f1 117.31%);
			min-height: 29.6875rem;
			@media (min-width: $md4) {
				order: 1;
			}
			@media (min-width: $md2) {
				grid-row: span 2;
				order: 0;
			}
		}
		&:nth-child(4) {
			@media (min-width: $md2) {
				grid-column: span 2;
			}
		}

		@media (min-width: $md2) {
			border-radius: 1.875rem;
			padding: rem(40);
		}
	}

	&Title {
		text-align: left;
		@media (max-width: $md2) {
			font-size: 3rem;
		}
	}

	&Description {
		margin-top: 1.25rem;
		font-family: $font-poppins;
		font-size: 1rem;
		line-height: 160%;
		max-width: rem(660);
	}
}
