.benefits {
	padding: 1.5rem 0 2.5rem;
	@media (min-width: $md4) {
		padding: 2.5rem 0;
	}
	@media (min-width: $md2) {
		padding: 5rem 0;
	}
	&Container {
	}
	&Title {
	}
	&List {
		margin-top: 2.5rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
		@media (min-width: $md2) {
			margin-top: 4rem;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 1.25rem;
		}
	}
}

.benefit {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: url("/src/assets/images/benefit-card-bg.png") 0 0 / cover no-repeat, $white;
	padding: 1rem;
	border-radius: 0.5rem;
	@media (min-width: $md2) {
		border-radius: 1.25rem;
		padding: 2.5rem;
	}
	@media (max-width: $md2) {
		flex: 0 0 calc(50% - 0.5rem);
		&:last-child {
			@media (min-width: $md4) {
				flex: 0 0 calc(64% - 0.5rem);
			}
		}
	}
	@media (max-width: $md4) {
		flex: 0 0 100%;
	}
	&::before {
		content: "";
		position: absolute;
		inset: rem(-1);
		background: linear-gradient(59deg, #fea35c 0.01%, #f9559c 45.62%, #8731f1 92.35%);
		z-index: -1;
		border-radius: rem(9);
		@media (min-width: $md2) {
			border-radius: rem(21);
		}
	}

	&Number {
		font-weight: 500;
		line-height: 130%;
		font-size: 5.75rem;
		@media (min-width: $md2) {
			font-size: 6rem;
		}
	}
	&Desc {
		color: rgba(45, 45, 45, 0.8);
		line-height: 130%;
		max-width: 18rem;
		font-size: 1rem;
		margin-top: 0.25rem;
		@media (min-width: $md2) {
			margin-top: 0.75rem;
			font-size: 1.5rem;
		}
	}
}
